@import './fonts/fonts.css';

html {
  box-sizing: border-box;
  --main-accent-color: #ff6b08;
  --main-base-color: #112437;
  --modal-bg-color: #031c33;
  font-family: 'MontserratRegular';
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
